.home-container {
  display: flex;
  flex-direction: column;
}

.home-image {
  width: 100%;
  height: 400px;
}

.products-container {
  width: 100;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(100px, auto);
  gap: 40px;
  padding: 10px 120px;
}


/* media query Laptop----- */
@media screen and (max-width: 1500px){
  .products-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
    padding: 10px;
    gap: 10px;
  }
} 



/* media query ----- */
@media screen and (max-width: 460px) {
  .home-image {
    height: 200px;
  }

  .products-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
    gap: 10px;
  }
}
