.header {
    height: 60px; 
    display: flex;
    align-items: center;
    background-color: #131921;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header-logo {
    display: flex;
    align-items: center;
    color: var(--primary-color);
    margin: 0 25px;
}

.header-logo-img {
    margin-right: 10px;
}

.header-logo-title {
    text-decoration: none;
    border: 0;
    color: white;
}

.header-search {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
    margin: 0 10px;
}

.header-search-input {
    height: 12px;
    padding: 11px;
    border: none;
    width: 100%;
    outline: none;
}

.header-searchIcon {
    padding: 5px;
    height: 22px !important;
    background-color: #ff9f00;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.header-nav {
    display: flex;
    justify-content: space-evenly;
}

.header-nav select{
    outline: none;
    padding: 3px;
}

.header-nav select option{
   font-size: 15px;
   margin: 10px;
}

.nav-item {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;  
    color: white;
   
}

.nav-itemLineOne {
    font-size: 10px;
    margin-top: 5px;
}

.nav-itemLineTwo {
    font-size: 13px;
    font-weight: 800; 
}

.nav-itemBasket {
    display: flex;
    align-items: center;
    color: white;
    margin-right: 50px;
    margin-left: 10px;
    margin-top: 10px;
}

.nav-basketCount {
    margin-left: 10px;
    margin-right: 10px;
}